
- content_for :css do
  = stylesheet_link_tag 'modules/sign_up'
= render partial: "items/header"

= render "devise/shared/links"
%h2.title 新規会員登録
= form_for(@user, url: user_registration_path) do |f|
  = render "devise/shared/error_messages", resource: @user
  .field
    .new
      = f.label :ニックネーム
      %br/
      %p.tag 必須
    = f.text_field :nickname, autofocus: true
  .field
    .new
      = f.label :名前
      %br/
      %p.tag 必須
    = f.text_field :first_name, autofocus: true
  .field
    .new
      = f.label :苗字
      %br/
      %p.tag 必須
    = f.text_field :family_name, autofocus: true
  .field
    .new
      = f.label :名前（ふりがな）
      %br/
      %p.tag 必須
    = f.text_field :first_name_kana, autofocus: true
  .field
    .new
      = f.label :苗字（ふりがな）
      %br/
      %p.tag 必須
    = f.text_field :family_name_kana, autofocus: true
  .field
    .new
      = f.label :誕生日
      %br/
      %p.tag 必須

    = f.date_select :birthday, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1), autofocus: true 

  .field
    = f.label :自己紹介
    %br/
    = f.text_field :introduction, autofocus: true
  .field
    = f.label :写真
    %br/
    = f.file_field :avator, autofocus: true
  .field
    .new
      = f.label :メールアドレス
      %br/
      %p.tag 必須
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    .new
      = f.label :パスワード（７文字以上）
      
      %br/
      %p.tag 必須
    = f.password_field :password, autocomplete: "new-password"
  .field
    .new
      = f.label :パスワード確認
      %br/
      %p.tag 必須
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "次へ"

= render partial: "items/banner"
.Footer
  .Footer__contents
    .Footer__contents--content

      
      %ul
        %li.head
          FURIMAについて
        %li
        = link_to "会社概要（運営会社）", :root, class: 'Button'
        %li
        = link_to "プライバシーポリシー", :root, class: 'Button'
        %li
        = link_to "FURIMA利用規約", :root, class: 'Button'
        %li
        = link_to "ポイントに関する特約", :root, class: 'Button'    
      %ul
        %li.head
          FURIMAを見る
        %li
        = link_to "カテゴリー一覧", :root, class: 'Button'
        %li
        = link_to "ブランド一覧", :root, class: 'Button'     
      %ul
        %li.head
          ヘルプ＆ガイド
        %li
        = link_to "FURIMAガイド", :root, class: 'Button'
        %li
        = link_to "FURIMAロゴ利用ガイドライン", :root, class: 'Button'
        %li
        = link_to "お知らせ", :root, class: 'Button'
  .Footer__logo
    %a{href: "/assets/logo-white.png"}
    = image_tag "/assets/logo-white.png", alt: "次へ", width:"150px", height:"50px", class: "icon"
  %p©FURIMA



