<h2>送付先住所登録</h2>

<%= form_for @destination do |f| %>
  <%= render "devise/shared/error_messages", resource: @destination %>

  <div class="field"> 
     <%= f.label :first_name_destination %><br />
     <%= f.text_field :first_name_destination, autofocus: true %>
   </div>

   <div class="field"> 
     <%= f.label :family_name_destination %><br />
     <%= f.text_field :family_name_destination, autofocus: true %>
   </div> 

   <div class="field"> 
     <%= f.label :first_name_destination_kana %><br />
     <%= f.text_field :first_name_destination_kana, autofocus: true %>
   </div> 

   <div class="field">      
     <%= f.label :family_name_destination_kana %><br />
     <%= f.text_field :family_name_destination_kana, autofocus: true %>
   </div> 

   <div class="field">
     <%= f.label :postcode %><br />
     <%= f.text_field :postcode, autofocus: true %>
   </div> 

   <div class="field"> 
     <%= f.label :prefecture %><br />
     <%= f.text_field :prefecture, autofocus: true %>
   </div> 

   <div class="field"> 
     <%= f.label :city %><br />
     <%= f.text_field :city, autofocus: true %>
   </div> 

   <div class="field"> 
     <%= f.label :house_number %><br />
     <%= f.text_field :house_number, autofocus: true %>
   </div> 

   <div class="field"> 
     <%= f.label :building_name %><br />
     <%= f.text_field :building_name, autofocus: true %>
   </div> 

   <div class="field"> 
     <%= f.label :phone_number %><br />
     <%= f.text_field :phone_number, autofocus: true %>
   </div>
   <div class="actions">
     <%= f.submit "Sign up" %>
   </div>
<% end %>

<%= render "devise/shared/links" %>
