- content_for :css do
  = stylesheet_link_tag 'modules/sign_up'
%h2 送付先住所登録
= form_for @destination do |f|
  = render "devise/shared/error_messages", resource: @destination
  .field
    .new
      = f.label :名前（送付先）
      %br/
      %p 必須
    = f.text_field :first_name_destination, autofocus: true
  .field
    .new
      = f.label :苗字（送付先）
      %br/
      %p 必須
    = f.text_field :family_name_destination, autofocus: true
  .field
    .new
      = f.label :名前（ふりがな）
      %br/
      %p 必須
    = f.text_field :first_name_destination_kana, autofocus: true
  .field
    .new
      = f.label :苗字（ふりがな）
      %br/
      %p 必須
    = f.text_field :family_name_destination_kana, autofocus: true
  .field
    .new
      = f.label :郵便番号
      %br/
      %p 必須
    = f.text_field :postcode, autofocus: true
  .field
    .new
      = f.label :都道府県
      %br/
      %p 必須
    = f.text_field :prefecture, autofocus: true
  .field
    .new
      = f.label :市区町村
      %br/
      %p 必須
    = f.text_field :city, autofocus: true
  .field
    .new
      = f.label :番地
      %br/
      %p 必須
    = f.text_field :house_number, autofocus: true
  .field
    = f.label :マンション、部屋番号等
    %br/
    = f.text_field :building_name, autofocus: true
  .field
    = f.label :電話番号
    %br/
    = f.text_field :phone_number, autofocus: true
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
