
  
= render partial: "items/header"

.mypage-box
  %h2.title #{current_user.nickname}様のマイページ

  %ul.page
    %li= link_to "出品した商品一覧", users_path, class: "page__list"
    %li= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "page__list"
    %li= link_to "お支払い情報の登録/確認/削除", new_card_path, class: "page__list"
  -# = link_to "登録情報の編集", edit_user_path(current_user) 
  .xhibition-item


-# = link_to'商品詳細', item_path(current_user.id)

= render partial: "items/banner"

= render partial: "items/footer"
