
  
= render partial: "items/header"

%h2.title マイページ
%ul.page
  %li= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "page__list"
  %li= link_to "クレジット登録", new_card_path, class: "page__list"
-# = link_to "登録情報の編集", edit_user_path(current_user) 

= link_to'商品詳細', item_path

= render partial: "items/footer"

