.Footer
  .Footer__contents
    .Footer__contents--content

      
      %ul
        %li.head
          FURIMAについて
        %li
        = link_to "会社概要（運営会社）", :root, class: 'Button'
        %li
        = link_to "プライバシーポリシー", :root, class: 'Button'
        %li
        = link_to "FURIMA利用規約", :root, class: 'Button'
        %li
        = link_to "ポイントに関する特約", :root, class: 'Button'    
      %ul
        %li.head
          FURIMAを見る
        %li
        = link_to "カテゴリー一覧", :root, class: 'Button'
        %li
        = link_to "ブランド一覧", :root, class: 'Button'     
      %ul
        %li.head
          ヘルプ＆ガイド
        %li
        = link_to "FURIMAガイド", :root, class: 'Button'
        %li
        = link_to "FURIMAロゴ利用ガイドライン", :root, class: 'Button'
        %li
        = link_to "お知らせ", :root, class: 'Button'
  .Footer__logo
  = image_tag asset_path ('logo-white.png'), alt: "次へ",width:"150px",height:"50px"
  %p©FURIMA