
- content_for :css do
  = stylesheet_link_tag 'modules/items'

.body
  .Header
    .Header__Inner
      .Header__Inner--Main
        .Icon
          %a{href: "/assets/logo.png"}
          = image_tag "/assets/logo.png", alt: "次へ" ,width:"140px", height:"50px", class: "icon"

        
        .searchBox
          %form{action: "http://xxxxxxxxxxxxx.com/", method: "get", class: "form"}
            %input{name: "s", placeholder: "キーワードから探す", type: "text", class: "search-box"}>
            %button{type: "submit",class: "search-btn"}
              %i.fas.fa-search


      .Header__Inner--HeaderNavi
        .listsLeft
          .listsLeft__item
            = link_to 'categories#index' do
              カテゴリー
          .listsLeft__brand
            = link_to "ブランド", :root, class: 'Button'


        .listsRight
          - if user_signed_in?
            .user_nav.grid-6
              = link_to('マイページ', user_path(current_user.id))
          - else
            .grid-6
              .listsRight__login
                = link_to "ログイン", new_user_session_path, class: 'Button'
              .listsRight___new
                = link_to "新規会員登録", new_user_registration_path, class: 'Button'
              

          -# 馬場追記

        -# - if user_signed_in?
        -#   .user_nav.grid-6
        -#     = link_to "ログアウト", destroy_user_session_path, method: :delete
        -#     = link_to "投稿する", :root, class: "post"
        -# - else
        -#   .grid-6
        -#     = link_to "ログイン", new_user_session_path, class: "post"
        -#     = link_to "新規登録", new_user_registration_path, class: "post"

          
          -# ここまで

  .main
    %section.topVisual
      .content
        %h2.content__title
          人生を変えるフリマアプリ
        .content__text
          FURIMAはだれでもかんたんに出品・購入できる
          %br
          フリマアプリです
        .content__btn
          %a.btnA{herf: "#"}
          = image_tag asset_path("apple.png")
          %a.btnG{herf: "#"}
          = image_tag asset_path("google.png")
    %section.secondVisual
      .second-content
        %h2.reason
          FURIMAが選ばれる3つの理由
        .reason-lists
          %ul.lists
            %li.list
              .list__image
                %span.num
                  1
                = image_tag asset_path('pict-reason-01.jpg')
              %h3.list__word
                %span.reason-word
                  3分
                ですぐに出品
              .list__text
                スマホで入力するだけで簡単に出品できる!
            %li.list
              .list__image
                %span.num
                  2
                = image_tag asset_path('pict-reason-02.jpg')
              %h3.list__word
                %span.reason-word
                  シンプル
                で使いやすい
              .list__text
                めんどくさい入力は必要なく、検索も購入もスムーズ!
            %li.list__end
              .list__image
                %span.num
                  3
                = image_tag asset_path('pict-reason-03.jpg')
              %h3.list__word
                手数料
                %span.reason-word
                  業界最安
              .list__text
                最大3%でお得に出品&購入!
    %section.middleVisual
      .middle-content
        %h2.subtitle
          会員数日本一位
        .middle-content__box
          %p.middle-content__text
            FURIMAはフリマアプリで最も人気。
            %br
            出品・購入回数も業界最多です!
            %br
            ほしかったあの商品に出会えるかもしれません。
        .btn
          %a.btnA{herf: "#"}
          = image_tag asset_path("apple.png")
          %a.btnG{herf: "#"}
          = image_tag asset_path("google.png")

    %section.featuresVisual
      %h2.feauture-title
        FURIMAの特徴
      .feauture-contents
        %section.content
          %figure.content__img
          = image_tag asset_path('icon-01.png')
          %h3.content__top
            簡単に売り買いできる
          %p.content__detail
            スマホひとつで、いつでもどこでも簡単に出品が可能!
        %section.content
          %figure.content__img
          = image_tag asset_path('icon-03.png')
          %h3.content__top
            売上金は即日振り込みに対応
          %p.content__detail
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        %section.content
          %figure.content__img
          = image_tag asset_path('icon-04.png')
          %h3.content__top
            様々な支払いに対応
          %p.content__detail
            お支払いは、クレジットカードだけでなく、ポイントは売上金など多彩な方法があります!
    %section.pickupVisual
      %h2.topic-category
        ピックアップカテゴリー
      .category-box
        .category-head
          %a.newItem{herf: "#"}
            %h3.title
              新規投稿商品
        .category-lists
          .category-list
            .category-list__image
            = image_tag asset_path('beef.jpeg')
            .category-list__body
              %hs3.name テスト
              .datails
                %ul
                  %li 10000円 
                  %li
                    %i.fa.fa-star.likeIcon 1
                %p (税込)
          .category-list
            .category-list__image
            = image_tag '/assets/tantan.jpeg', width: "180px", height: "180px"
            .category-list__body
              %h3.name ee
              .datails
                %ul
                  %li 1000円
                  %li
                    %i.fa.fa-star.likeIcon 0
                %p (税込)
          .category-list
            .category-list__image
            = image_tag '/assets/fish.png'
            .category-list__body
              %h3.name product3
              .datails
                %ul
                  %li 30000円
                  %li
                    %i.fa.fa-star.likeIcon 0
                %p (税込)
          .category-list
            .category-list__image
            = image_tag '/assets/gyouza.png'
            .category-list__body
              %h3.name product2
              .datails
                %ul
                  %li 20000円
                  %li
                    %i.fa.fa-star.likeIcon 0
                %p (税込)
          .category-list
            .category-list__image
            = image_tag '/assets/carry.png'
            .category-list__body
              %h3.name product1
              .datails
                %ul
                  %li 10000円
                  %li
                    %i.fa.fa-star.likeIcon 1
                %p (税込)

          -# 最終的にはデータベースからeach文で記載する
            -# .category-list__image
              -# - @items.each do |item|
              -#   - if item.quantity == 0
              -#     = image_tag "#{item.image}", class: "image"
              -#     SOLDOUT
              -#     = item.name
              -#     = item.price
            -# .category-list__body

              -# - @items.each do |item|
              -#   - if item.quantity != 0
              -#     = image_tag "#{item.image}", class: "image"
              -#     = item.name
              -#     = item.price
              - @items.each do |item|
                - if item.quantity != 0
                  = image_tag "#{item.image}", class: "image"
                  = item.name
                  = item.price

    %section.pickupVisual
      %h2.topic-category
        ピックアップブランド
      .category-box
        .category-head
          %a.newItem{herf: "#"}
            %h3.title
              アーカイバ
        .category-lists
          .category-list
            %figure.category-list__image
            .category-list__body
              - @items.each do |item|
                %img{ src: "#{item.image}"}
                = item.name
                = item.price
        .category-lists
          .category-list
            .category-list__image
            = image_tag '/assets/beef.jpeg', width: "180px", height: "180px"
            .category-list__body
              %hs3.name テスト
              .datails
                %ul
                  %li 10000円 
                  %li
                    %i.fa.fa-star.likeIcon 1
                %p (税込)
          .category-list
            .category-list__image
            = image_tag '/assets/tantan.jpeg', width: "180px", height: "180px"
            .category-list__body
              %h3.name ee
              .datails
                %ul
                  %li 1000円
                  %li
                    %i.fa.fa-star.likeIcon 0
                %p (税込)
          .category-list
            .category-list__image
            = image_tag '/assets/fish.png'
            .category-list__body
              %h3.name product3
              .datails
                %ul
                  %li 30000円
                  %li
                    %i.fa.fa-star.likeIcon 0
                %p (税込)
          .category-list
            .category-list__image
            = image_tag '/assets/gyouza.png'
            .category-list__body
              %h3.name product2
              .datails
                %ul
                  %li 20000円
                  %li
                    %i.fa.fa-star.likeIcon 0
                %p (税込)
          .category-list
            .category-list__image
            = image_tag '/assets/carry.png'
            .category-list__body
              %h3.name product1
              .datails
                %ul
                  %li 10000円
                  %li
                    %i.fa.fa-star.likeIcon 1
                %p (税込)

  .Banner
    .inner
      %h2.inner__title 誰でも簡単、人生を変えるフリマアプリ
      %p.inner__test 今すぐ無料ダウンロード
      .inner__icon
        %a.btnA{herf: "#"}
          = image_tag "/assets/apple.png"
        %a.btnG{herf: "#"}
          = image_tag "/assets/google.png"


  .Footer
    .Footer__contents
      .Footer__contents--content
        .head
        %ul
          %li
          FURIMAについて
          %li
          = link_to "会社概要（運営会社）", :root, class: 'Button'
          %li
          = link_to "プライバシーポリシー", :root, class: 'Button'
          %li
          = link_to "FURIMA利用規約", :root, class: 'Button'
          %li
          = link_to "ポイントに関する特約", :root, class: 'Button'
        .head
        %ul
          %li
          FURIMAを見る
          %li
          = link_to "カテゴリー一覧", :root, class: 'Button'
          %li
          = link_to "ブランド一覧", :root, class: 'Button'
        .head
        %ul
          %li
          ヘルプ＆ガイド
          %li
          = link_to "FURIMAガイド", :root, class: 'Button'
          %li
          = link_to "FURIMAロゴ利用ガイドライン", :root, class: 'Button'
          %li
          = link_to "お知らせ", :root, class: 'Button'
      .Footer__logo
      %a{href: "/assets/logo-white.png"}
      = image_tag "/assets/logo-white.png", alt: "次へ", width:"150px", height:"50px", class: "icon"
      %p©FURIMA
  .purchaseBtn
    .purchaseBtn__text 出品する
    .purchaseBtn__icon
      %i.fas.fa-camera

    .btn
      .btn__display
        = link_to '出品', new_item_path
        %br/
        .contents
          = render @items


    ©FURIMA

