
- content_for :css do
  = stylesheet_link_tag 'modules/items'

.body
  .Header
    .Header__Inner
      .Header__Inner--Main
        .Icon
          %a{href: "/assets/logo.png"}
          %img{alt: "次へ", src: "/assets/logo.png",width:"140px", height:"50px", class: "icon"}/
        
        .searchBox

          %form#form1{action: "root", method: "get"}
            %input#sbox1{name: "s", placeholder: "キーワードから探す", type: "text",class: "form"}/
            %button#sbtn1{type: "submit", value: "#"}/
            .searchBox__icon
              =link_to image_tag("/images/icon-search 1.png"),"#"

      .Header__Inner--HeaderNavi
        .listsLeft
          .listsLeft__item
            = link_to 'categories#index' do
              カテゴリー
          .listsLeft__brand
            = link_to "ブランド", :root, class: 'Button'


        .listsRight
          - if user_signed_in?
            .user_nav.grid-6
              = link_to "ログアウト", destroy_user_session_path, method: :delete
              = link_to "投稿する", :root, class: "post"
          - else
            .grid-6
              .listsRight__login
              = link_to "ログイン", new_user_session_path, class: 'Button'
              .listsRight___new
              = link_to "新規会員登録", new_user_registration_path, class: 'Button'

          -# 馬場追記

        -# - if user_signed_in?
        -#   .user_nav.grid-6
        -#     = link_to "ログアウト", destroy_user_session_path, method: :delete
        -#     = link_to "投稿する", :root, class: "post"
        -# - else
        -#   .grid-6
        -#     = link_to "ログイン", new_user_session_path, class: "post"
        -#     = link_to "新規登録", new_user_registration_path, class: "post"

          
          -# ここまで

  .main
    %section.topVisual
      .content
        %h2.content__title
          人生を変えるフリマアプリ
        .content__text
          FURIMAはだれでもかんたんに出品・購入できる
          %br
          フリマアプリです
        .content__btn
          %a.btnA{herf: "#"}
            //=link_to ""
            %img{src: "images/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"}
          %a.btnG{herf: "#"}
            %img{src: "images/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"}
    %section.secondVisual
      .second-content
        %h2.reason
          FURIMAが選ばれる3つの理由
        .reason-lists
          %ul.lists
            %li.list
              .list__image
                %span.num
                  1
                %img{ src:"images/pict-reason-01.jpg"}
              %h3.list__word
                %span.reason-word
                  3分
                ですぐに出品
              .list__text
                スマホで入力するだけで簡単に出品できる!
            %li.list
              .list__image
                %span.num
                  2
                %img{ src:"images/pict-reason-02.jpg"}
              %h3.list__word
                %span.reason-word
                  シンプル
                で使いやすい
              .list__text
                めんどくさい入力は必要なく、検索も購入もスムーズ!
            %li.list__end
              .list__image
                %span.num
                  3
                %img{ src:"images/pict-reason-03.jpg"}
              %h3.list__word
                手数料
                %span.reason-word
                  業界最安
              .list__text
                最大3%でお得に出品&購入!
    %section.middleVisual
      .middle-content
        %h2.subtitle
          会員数日本一位
        .middle-content__box
          %p.middle-content__text
            FURIMAはフリマアプリで最も人気。
            %br
            出品・購入回数も業界最多です!
            %br
            ほしかったあの商品に出会えるかもしれません。
        .btn
          %a.btnA{herf: "#"}
            %img{src: "images/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"}
          %a.btnG{herf: "#"}
            %img{src: "images/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"}
    %section.featuresVisual
      %h2.feauture-title
        FURIMAの特徴
      .feauture-contents
        %section.content
          %figure.content__img
            %img{ src:"images/icon-01.png"}
          %h3.content__top
            簡単に売り買いできる
          %p.content__detail
            スマホひとつで、いつでもどこでも簡単に出品が可能!
        %section.content
          %figure.content__img
            %img{ src:"images/icon-03.png"}
          %h3.content__top
            売上金は即日振り込みに対応
          %p.content__detail
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        %section.content
          %figure.content__img
            %img{ src: "images/icon-04.png"}
          %h3.content__top
            様々な支払いに対応
          %p.content__detail
            お支払いは、クレジットカードだけでなく、ポイントは売上金など多彩な方法があります!
    %section.pickupVisual
      %h2.topic-category
        ピックアップカテゴリー
      .category-box
        .category-head
          %a.newItem{herf: "#"}
            %h3.title
              新規投稿商品
        .category-lists
          .category-list
            .category-list__image
              - @items.each do |item|
                - if item.quantity == 0
                  = image_tag "#{item.image}", class: "image"
                  SOLDOUT
                  = item.name
                  = item.price
            .category-list__body
              - @items.each do |item|
                - if item.quantity != 0
                  = image_tag "#{item.image}", class: "image"
                  = item.name
                  = item.price
    %section.pickupVisual
      %h2.topic-category
        ピックアップブランド
      .category-box
        .category-head
          %a.newItem{herf: "#"}
            %h3.title
              アーカイバ
        .category-lists
          .category-list
            %figure.category-list__image
            .category-list__body
              - @items.each do |item|
                %img{ src: "#{item.image}"}
                = item.name
                = item.price
  .Footer
    .Footer__contents
      .Footer__contents--content
        .head
        FURIMAについて
        %ul
          %li
          = link_to "会社概要（運営会社）", :root, class: 'Button'
          %li
          = link_to "プライバシーポリシー", :root, class: 'Button'
          %li
          = link_to "FURIMA利用規約", :root, class: 'Button'
          %li
          = link_to "ポイントに関する特約", :root, class: 'Button'
        .head
        FURIMAを見る
        %ul
          %li
          = link_to "カテゴリー一覧", :root, class: 'Button'
          %li
          = link_to "ブランド一覧", :root, class: 'Button'
        .head
        ヘルプ＆ガイド
        %ul
          %li
          = link_to "FURIMAガイド", :root, class: 'Button'
          %li
          = link_to "FURIMAロゴ利用ガイドライン", :root, class: 'Button'
          %li
          = link_to "お知らせ", :root, class: 'Button'
    .Footer__logo
    %a{href: "/assets/logo-white.png"}
    %img{alt: "次へ", src: "/assets/logo-white.png",width:"200px", height:"200px", class: "icon"}/

    ©FURIMA
