//= render partial: "items/header"
- content_for :css do
  = stylesheet_link_tag 'modules/post_done'



= render partial: "items/header"
-# = render 'header'


.done
  .done__title
    商品を出品しました
  .done__backlink
    =link_to root_path, class:"link" do
      トップページへ戻る
  .done__backlink

    = link_to "出品した商品を確認する", item_path(current_user.id), class: 'show_item'
      
  .done__backlink
    =link_to "/users/#{@item.seller.id}", class:"link" do
      出品中の商品一覧を見る


= render partial: "banner"

= render partial: "items/footer"