- content_for :css do
  = stylesheet_link_tag 'modules/post_done'



= render partial: "items/header"


.done
  .done__title
    商品を出品しました
  .done__backlink
    =link_to root_path, class:"link" do
      トップページへ戻る
  .done__backlink
    = link_to item_path(@item.id), class: "link" do
      出品した商品を確認する
  .done__backlink
    = link_to users_path, class: "link" do
      出品中の商品一覧を見る


= render partial: "banner"

= render partial: "items/footer"
