
- content_for :css do
  = stylesheet_link_tag 'modules/show'

= render partial: "items/header"

= link_to "購入", card_path
= link_to "トップへ戻る", root_path

%nav.breadCrumbs
  %ul
    %li
      %a FURIMA
    %li
      %i >
    %li
      %a ベビー・キッズ
    %li
      %i >
    %li
      %a ベビー服(男の子用)  ~95cm
    %li
      %i >
    %li
      %a アウター
    %li
      %i >
    %li
      %p ee
    
.main
  .content
    .content__left
    .content__right
      .top__content
        .item-box
          %h2.item-box__name
          .item-box__body
            .item-box__main
              .mainPct
                = image_tag asset_path('beef.png')
                .subPct-box
                  .subPct
                    = image_tag asset_path('beef.png')
          .item-box__price
            %span.price
              ¥10,000
            .item-box__price-detail
              %span.tex
                (税込)
              %span.postage
                送料込み
            .item__detail
              テストテストテスト
          .table
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td
                    aaa
                %tr
                  %th
                    カテゴリー
                  %td
                    %a{herf: "#"}
                      レディース
                    %br
                    %a{herf: "#"}
                      トップス
                    %br
                    %a{herf: "#"}
                      Tシャツ/カットソー(半袖/袖なし)
                %tr
                  %th
                    ブランド
                  %td
                %tr
                  %th
                    商品のサイズ
                  %td
                %tr
                  %th
                    商品の状態
                  %td
                    新品/未使用
                %tr
                  %th
                    配送料の負担
                  %td
                    送料込み(出品者負担)
                %tr
                  %th
                    発送元の地域
                  %td
                    北海道
                    //link必要
                %tr
                  %th
                    発送日の目安
                  %td
                    1-2日で発送
          .optionalArea 
            %ul
              %li.optionalBtn__likeBtn
                %i.fa.fa-star
                  お気に入り 1
            %ul.optional
              %li.optionalBtn
                %a{herf: "#"}
                  %i.fa.fa-flag
                    不適切な商品の通報

        .commentBox
          %ul.commentContents
          //以下のformは仮で作成、コメントテーブル作成してから修正する
          %form.new_comment
            %textarea.message_form{name: "message", placeholder: "MESSAGE"}
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br
            %button{type: "submit",class: "commentBtn"}
              %i.fas.fa-comment
              コメントする
      %ul.links
        %li.links__before
          = link_to "#", class: "angle__left" do
            = icon('fa', 'angle-left')
            %span 前の商品
        %li.links__after
          = link_to "#", class: "angle__right" do
            %span 後ろの商品
            = icon('fa', 'angle-right')
      .relatedItems
        %a{herf: "#"}
          レディースをもっと見る



= render partial: "items/banner"
= render partial: "items/footer"
